main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.new-tweet {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}

.new-tweet h2 {
  color: #555249;
  width: 100%;

}

.new-tweet label {
  color: #555249;


}

form {

  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

#tweet-text {
  background: transparent;
  border: none;
  resize: none;
  border-bottom: 4px solid #555249;
  width: 100%;
  position: relative;

}

form>div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-top: 20px;
  font-family: 'Bungee', cursive;
}



div>button {

  background-color: #4156A1;
  color: #fff;
  border: 0;

}

output {
  color: #555249;
  flex-grow: 2;
  width: 50%;
  text-align: right;

}

.red {
  color: red;
}

#alert {
  color: red;
  font-weight: bolder;

}


@media (max-width: 1024px) {

  main {
    width: 90%;
  }

}

@media (min-width: 1025px) {

  main {
    width: 50%;
  }

}