main {
  width: 90%;

  margin-top: 30px;
  /* padding: 40px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
  ;
}

.new-tweet {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.new-tweet h2 {
  color: #555249;
  width: 100%;

}

.new-tweet label {
  color: #555249;


}

form {

  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

#tweet-text {
  /* border: 1px solid red; */
  background: transparent;
  border: none;
  resize: none;
  border-bottom: 4px solid #555249;
  ;
  width: 100%;
  position: relative;


  /* position: fixed; */


}

form>div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-top: 20px;
  font-family: 'Bungee', cursive;
}



div>button {

  background-color: #4156A1;
  color: #fff;
  border: 0;

}

output {
  color: #555249;
  flex-grow: 2;
  width: 50%;
  text-align: right;

}

.red {
  color: red;
}

#alert {
  color: red;
  font-weight: bolder;
  
}